%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="/#{@video.large_cover_url}")
      .video_info.span3
        %header
          %h3= @video.title
          %span
            %img(src="/#{average_rating}")
        %p= @video.description
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn' unless QueueItem.find_by(video_id: @video.id, user_id: current_user.id)
%section.reviews.container
  .row
    .span10.offset1
      - if @user_review == nil
        = bootstrap_form_for([@video, @review]) do |f|
          = f.select :rating, options_for_video_ratings, label: 'Rate this video'
          = f.text_area :description, label: 'Write a review', class: 'span6', rows: 6
          = f.secondary "Submit"
          = link_to "Cancel", @video
      - else
        %header
          %h3 Your Review for this video
        %article.review
          .row
            .span2
              %span= "Rating: #{@user_review.rating} / 5"
              %p= "by #{current_user.username}"
            .span8
              %p= "#{@user_review.description}"
      %br
      %header
        %h3= "User Reviews (#{@video.reviews.count})"
      %ul
        - @reviews.order("created_at DESC").each do |review|
          %article.review
            %li.row
              .span2
                %span= "Rating: #{review.rating} / 5"
                %p= "by #{User.find(review.user_id).username}"
              .span8
                %p= review.description
