%section#top-header.row
  %h1.span2
    = link_to "MyFLiX", root_path
  - if signed_in?
    %ul.span4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
    = form_tag search_videos_path, method: 'get' do
      = text_field_tag :search, nil, class: 'search-query', placeholder: "find a video"
      = submit_tag 'Search', name: nil, class: 'btn'
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = "Welcome, #{current_user.username}"
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              - if current_user.admin?
                =link_to "Recent Payments", admin_payments_path
                =link_to "Add Video", new_admin_video_path
                .divider
              =link_to "Invite", new_invitation_path
              =link_to "Account", user_path(current_user.id)
              =link_to "Plan and Billing", user_payments_path(current_user.id)
              =link_to "Sign Out", signout_path